<%= form_with model:book,local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title', name: 'book[title]' %>
  </div>
  <div class="form-group">
    <%= f.label :body, "Opinion" %>
    <%= f.text_field :body, class: 'form-control book_body', name: 'book[body]' %>
  </div>
  <div class="form-group">
    <%= button_tag type: 'submit', class: 'btn btn-success' do %>
      <%= button_text %>
    <% end %>
  </div>
<% end %>
